# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# TypeScript incremental build cache
tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next
.vercel
*.log
coverage
.env
.env.*
!.env.example
dist
.env.local
.env.vercel
mimetic-science-502020-h6-4a91ee5556ce.json